<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrega Intermedia Gozzerino
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/magnific-popup.css"> 
    <link rel="stylesheet" href="css/templatemo-ocean-vibes.css"> 
</head>
<body>
    <header class="tm-site-header">
        <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-gray-1">Heroes</span> <span class="tm-color-gray-2">vibes</span></h1>

    </header>
    <div id="tm-video-container">
        <video autoplay muted loop id="tm-video">
            <source src="video/[BTCLOD.COM] Marvel Heroes MMO_ Opening Cinematic-720p.mp4" type="video/mp4">
        </video>  
    </div>
    <div class="tm-container">
        <nav class="tm-main-nav">
            <ul id="inline-popups">
                <li class="tm-nav-item">
                    <a href="#intro" data-effect="mfp-move-from-top" class="tm-nav-link">
                        Aparicón
                        <i class="fas fa-3x fa-newspaper"></i>
                        <a class="btn read-more" href="{% url 'cambiar1'%}">Ver más</a>
                    </a>                
                </li>
                <li class="tm-nav-item">
                    <a href="#gallery" data-effect="mfp-move-from-top" class="tm-nav-link" id="tm-gallery-link">
                        Heroe
                        <i class="far fa-3x fa-star"></i>
                        <a class="btn read-more" href="{% url '-cambiar2'%}">Ver más</a>
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a href="#testimonials" data-effect="mfp-move-from-top" class="tm-nav-link">
                        Organización
                        <i class="far fa-3x fa-moon"></i>
                        <a class="btn read-more" href="{% url 'cambiar3'%}">Ver más</a>
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a href="#about" data-effect="mfp-move-from-top" class="tm-nav-link">
                        Busqueda
                        <i class="fas fa-3x fa-water"></i>
                        <a class="btn read-more" href="{% url 'cambiar4'%}">Ver más</a>
                    </a>
            </ul>
        </nav>

   
    <footer class="tm-footer">
        <span>Web Designed by Marce</span>
</footer>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>    
    <script src="js/templatemo-script.js"></script>
</body>
</html>